
.sales-section {
    background: linear-gradient(96.59deg, #F7F7F7 0.54%, rgba(247, 247, 247, 0) 100%);
}

.card{
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    &-title {
        font-weight: bold; 
        font-size: 13px;
    }
    &-body{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
}

.phoneLabelOEM {
    border: hidden;
    background: linear-gradient(92.96deg, #2B5E7A 0.31%, #508FC9 97.32%);
    color: white;
    width: 40%;
    border-bottom-right-radius: 0.5em;
    font-size: 15px;
    font-weight: bold;
}

.phoneLabelHC {
    background: linear-gradient(92.96deg, #61AC2F 0.31%, #78BA4D 97.32%);
    color: white;
    width: 53%;
    border-bottom-right-radius: 0.5em;
    font-size: 15px;
    font-weight: bold;
}

.phoneLabelRD {
    color: white;
    width: 60%;
    border-bottom-right-radius: 0.5em;
    background: linear-gradient(92.96deg, #63539E 0.31%, #8F7ECD 97.32%);
    font-size: 15px;
    font-weight: bold;
}

.phoneDisc {
    margin-bottom: 0.5em;
}

.phonesColorsButton {
    border: hidden;
    padding: 0;
    width: 12px;
    border-radius: 50%;
    background-color: white;
}

.firstColor {
    color: black;
}

.secondColor {
    color: blue;
}

.thirdColor {
    color: pink;
}

.fourthColor {
    color: orange;
}

.list-group-item {
    padding-left: 0.5em;
    font-size: 11px;
}



.phonesPrices {
    font-weight: bold;
}

.addToCartBtn {
    background-color: rgba(108, 167, 182, 1);
    color: white;
    border: hidden;
    font-size: 12px;
}